<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tamizna.yukbisayuk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_fist"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_fist_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YukBisaYuk">
        <activity
            android:name=".historyDonation.HistoryActivity"
            android:parentActivityName=".home.HomeActivity" />
        <activity android:name=".successDonation.SuccessDonationActivity" />
        <activity
            android:name=".splashLogin.SplashActivity"
            android:theme="@style/Theme.YukBisaYuk.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".splashLogin.LoginActivity"
            android:theme="@style/Theme.YukBisaYuk.NoActionBar" />
        <activity
            android:name=".detailDonation.DetailDonationActivity"
            android:parentActivityName=".home.HomeActivity" />
        <activity android:name=".home.HomeActivity" />
    </application>

</manifest>